.Rproj.user
.Rhistory
.RData
.Ruserdata
.quarto
_site
.Rdata
.httr-oauth
.DS_Store
_freeze
/.quarto/
/site_libs/
*.html
*.db
*.db-shm
*.db-wal
*.bak
_tmp_*
/.luarc.json
**/*.quarto_ipynb
index-listing.json
_targets
_targets.yaml